*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none} .separator a,.post-body img{-webkit-touch-callout:none;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      pointer-events:none} pre,kbd,blockquote,table{-webkit-user-select:text;
        -khtml-user-select:text;
        -moz-user-select:text;
        -ms-user-select:text;
        user-select:text;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
  background-color: #eee;

}
.all {
    margin: 0 5% 0 5%;
    background-color: white;
    box-shadow: 1px 1px 10px #aaaaaaba;
    padding-bottom: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    margin-left: 5%;
    margin-right: 5%;
    /*
    position: fixed;
    width: 100%;
    z-index: 44;
    background-color: white;
    box-shadow: 0 1px 10px #eee;
    */
}
nav a img {
    width: 34px;
    margin-right: 12px;
}
nav h2 {
    color: #0097a7e8;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}
nav .links a {
    color: #1977d2;
    font-size: 14px;
    padding-left: 17px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    position: relative;
}
nav .links a:hover{
  color: cadetblue;
}
.landing {
    background: linear-gradient(to left, #1976d2, #26c6da);
    width: 100%;
    height: 35vh;
    position: relative;
}
.image-lan {
    position: absolute;
    top: 33%;
    left: 6%;
    background: linear-gradient(45deg, #3b3f42, #0000009e);
    padding: 2px 16px 0 16px;
    border-radius: 6px;
    border: 6px solid #eee;
    box-shadow: 0 1px 10px #ccc;
}
.image-lan img {
    width: 82px;
}
.text-lan {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translatey( -46%);
}
.text-lan h2 {
    color: #eee;
    letter-spacing: 1px;
    font-size: 34px;
    padding-bottom: 12px;
}
.text-lan p {
    color: #eee;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 17px;
    text-transform: capitalize;
}
.text-lan button {
    border: none;
    outline: none;
    text-transform: capitalize;
    padding: 5px 19px;
    letter-spacing: 1px;
    border-radius: 22px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.but-lan button:first-child{
  background-color: #eee;
  transition: 0.5s;
}
.but-lan button:first-child:hover{
  transform: translateY(-4px);
  background-color: #cdc9c9d9;
}
.but-lan button:last-child{
  background-color: #3baf40;
  padding: 5px 16px;
  color: #fff;
  transition: 0.5s;
}
.but-lan button:last-child:hover{
  background-color:#27892b;
  transform: translateY(-3px);

}
@media (max-width:767px) {
  .links {
      background: linear-gradient(to left, #e3f2fd, #e0f7fa);
      width: fit-content;
      padding: 3px 60px;
      border-radius: 8px;
      position: fixed;
      bottom: 0;
      z-index: 999;
  }
  nav .links a::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: #1565c0;
      margin-left: 9px;
  }
  nav .links a:hover {
      background-color: #c1d7e14d;
  }
  nav {
      flex-direction: column;
      gap: 10px;
  }
  nav a img {
    width: 28px;
    margin-right: 16px;
    transition: 0.6s;
}
nav h2 {
    font-size: 19px;
    padding-bottom: 11px;
}
.landing{
  height: 100%;
  display: flex;
flex-direction: column;
align-items: center;
}
.image-lan{
  margin-top: 33px;
  position: unset;
}
.text-lan{
  position: unset;
  padding-top: 24px;
  text-align: center;
  transform: unset;
  padding-bottom: 51px
}
.text-lan h2{
  font-size: 29px;
}
}
.about {
    padding-top: 55px;
    border-bottom: 1px solid #ccc;
}
.about h2 {
    color: #111010eb;
    text-align: center;
    padding-bottom: 38px;
}
.cont-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:82px;
    padding-bottom: 40px;
}
.info p {
    color: #555;
    width: 238px;
    line-height: 1.6;
}
.infoo span {
    font-size: 17px;
    text-transform: capitalize;
    line-height: 1.8;
    opacity: 0.9;
    padding-right: 27px;
    color: #262626;
    font-weight: 600;
}
.infoo p {
    color: #555;
    font-size: 14px;
    padding-left: 12px;
    padding-bottom: 3px;
}
@media (max-width:767px) {
  .cont-about{
  justify-content: start;
  margin-left: 6%;
  gap:0;
}
.info p{
      padding: 30px 0
}
.about h2{
  margin-left: 6%;
  text-align: left;
}
}
.skiil span {
    position: relative;
    width: 400px;
    border-radius: 10px;
    background-color: #eee;
    display: block;
    height: 18px;
}
.html::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    height: 100%;
    background-color: #1a7bd3;
    border-radius: inherit;
}
.css::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 89%;
  height: 100%;
  background-color: #1a7bd3;
  border-radius: inherit;
}
.js::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: #1a7bd3;
  border-radius: inherit;
}
.skills h2 {
    text-align: center;
    padding: 31px 0;
    padding-bottom: 38px;
    color: #111010eb;
}
.skiil {
    padding-bottom: 13px;
    margin-left: 6%;
    margin-right: 6%;
}
.skiil p {
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding-bottom: 8px;
}
@media (max-width:767px) {
  .skiil span{
    width: 300px;
  }
  .skills h2 {
      margin-left: 6%;
      text-align: left;
  }
}
.skills {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}
@media (min-width:768px) {
.cont-about {
    justify-content: space-around;
    gap: 0;

}
}
.work h2 {
    color: #111010eb;
    text-align: center;
    padding-bottom: 38px;
}
.work {
    padding: 60px 0;
    border-bottom: 1px solid #cccccc82;
}
.inf-work {
    box-shadow: -8px 2px 11px #ccc;
    padding: 12px 22px;
    width: fit-content;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 13px;
}
.inf-work::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #1e88e5;
    left: 0;
    top: 0;
}
.inf-work::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #1e88e5;
    left: -21px;
    top: 16px;
}
.inf-work h3 {
    font-size: 24px;
    opacity: 0.9;
    text-transform: capitalize;
    padding-bottom: 12px;
}
.inf-work p:nth-child(2) {
    padding-bottom: 25px;
    color: #555;
    font-size: 14px;
}
.inf-work p:last-child {
    color: #101010;
    line-height: 1.7;
    width: 560px;
    font-size: 17px;
}
.con-work {
    margin-right: 6%;
    margin-left: 6%;
    position: relative;
}
.con-work::after {
    content: "";
    position: absolute;
    background-color: #cccccc6e;
    width: 2px;
    height: 100%;
    top: -17px;
    left: -28px;
}
.con-work::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    top: 9px;
    left: -36px;
    border-radius: 50%;
    border: 2px solid #1a7bd3;
    z-index: 1;
}
@media (max-width:767px) {
  .inf-work{
  padding: 7px 12px;
  text-align: center;
  box-shadow: 0px 2px 11px #ccc;
}
.inf-work p:last-child {
    color: #101010;
    line-height: 1.6;
    width: 208px;
    font-size: 15px;
}
.inf-work h3 {
    font-size: 22px;
  }
  .con-work::before{
    width: 11px;
    height: 11px;
    top: 10px;
    left: -19px;
  }
  .inf-work::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      background-color: #1e88e5;
      left: -21px;
      top: 16px;
  }
  .inf-work::after{
    width: 2px;
  }
  .con-work::after {
      content: "";
      position: absolute;
      background-color: #cccccc;
      width: 2px;
      height: 100%;
      top: -11px;
      left: -26px;
  }
  .con-work::before {
    width: 11px;
    height: 11px;
    top: 10px;
    left: -32px;
}
.work h2{
  text-align: left;
  margin-left: 6%;
}
.con-work {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}
}
.contaner-cont {
    display: flex;
    justify-content: space-around;
    padding-top: 42px;
}
.contact {
    padding: 61px 0;
    border-bottom: 1px solid #eee;
}
.contact h2{
  color: #111010eb;
    text-align: center;
    padding-bottom: 12px;
}
input {
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #004e700d;
    outline: none;
    margin-bottom: 15px;
    transition: 0.5s;
    outline: 2px solid #e3f2fd00;
}
input:hover {
    outline: 3px solid #e3f2fdb5;
}
input[type="text"] {
    padding: 6px;
    width: 234px;
}
input[type="email"]{
  padding: 6px;
width: 234px;
}
input.message {
    width: 100%;
    margin-top: 11px;
    padding-bottom: 60px;
    width: 234px;
}
::placeholder{
font-size: 12px;
}
input[type="submit"] {

    text-transform: capitalize;
    color: #fff;
    padding: 6px 47px;
    border-radius: 15px;
    background-color: #1a7bd3;
    outline: none;
    border: none;
    transition: 0.5s;
    letter-spacing: 1px;
}
input[type="submit"]:hover{
  transform: translateY(-4px);
  background-color: #0f589b;
}
.inf-contact span{
font-size: 17px;
text-transform: capitalize;
line-height: 1.8;
opacity: 0.9;
padding-right: 27px;
color: #262626;
font-weight: 600;
}
.inf-contact p{
  color: #555;
    font-size: 14px;
    padding-left: 12px;
    padding-bottom: 3px;
}
@media (max-width:767px) {
  .contaner-cont{
    flex-wrap: wrap;
    gap: 12px 0;
  }
  input{
    width: 250px;
  }
  .inf-contact{
    text-align: center;
  }
  .inf-contact p,span{
    padding-left: 0;
    padding-right: 0!important;
  }
  input[type="submit"] {
    width: 223px;
  }
  .form {
    text-align: center;
}
}
footer {
    text-align: center;
}
footer a img {
    width: 34px;
    margin-right: 12px;
    transition: 0.6s;
}
footer h2 {
    font-size: 33px;
    color: #169fad4d;
    letter-spacing: 5px;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.footer{
  padding: 50px 0;
}
.copy-right {
    padding-top: 33px;
}
p.end {
    text-align: center;
}
.end a {
    text-decoration: underline;
    font-size: 17px;
    color: #1a7bd3;
    text-transform: capitalize;
    transition: 1s;
    font-weight: 800;
    font-style: italic;
}
.end a:hover {
    transition: 0.5s;
    color: cadetblue;
}
.up {
    position: fixed;
    bottom: 19px;
    right: 2px;
    z-index: 1;
}
footer a img:hover{
  transform: scale(1.1);
  transition:  ease-in-out;
}
nav a img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
